
<%- include("partials/header")%>

<h1>Home</h1>
<p><%=homeStartingContent%></p>

<% for(i=0;i<posts.length;i++) { %>
  <h1><%=posts[i].title%></h1>
  <% if (posts[i].content.length >100){ %>
    <% console.log("POST ID: " + posts[i]._id) %>
    <p><%=posts[i].content.substring(0,100) + "..."%> <a href="/posts/<%=posts[i]._id%>">Read More</a></p>

  <% }else{ %>
    <p><%=posts[i].content%></p>
<%  } %>

<%}%>

<%- include("partials/footer")%>
